body{
    background-color: rgb(229, 227, 200);
    margin-left: 50px;
    margin-right: 50px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
<<<<<<< HEAD
    background-color: #33658A;
=======
    background-color: pink;
>>>>>>> ced3413 (Byttet style)
}

.navigation li {
    display: inline;
    float: left;
    border-right: 1px solid black;
}

li:last-child {
    border-right: none;
}

.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #234660;
}

.active {
    background-color: antiquewhite;
}
