
body {
    /*body påvirker hele siden vår */
    background-color: lightpink; /*Bakgrunnfargen på siden er rosa*/
    margin-left: 50px; /*mellomrom mellom venstre siden av skjermen og innholdet*/
    margin-right: 50px; /*mellomrom fra høyre side av skjermen og innhodlet*/
    margin-bottom: 50px; /*mellomrom fra innholdet og bunnen av skjermen*/
} 


.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(249, 205, 212); /*Bakgrunnsfargen på navbaren*/
}

.navigation li {
    display: inline;
    float: left;
    border-right: 1px solid rgb(45, 44, 41); /*Fargen på linja mellom navbar knappene*/
}

li:last-child {
    border-right: none; /*ingen border/farget linje på høyre side av knappen lengst til høyre */
}

.navigation li a {
    display: block;
    color: black; /*fargen på teksten i navbar*/
    text-align: center;/*sentrerer teksten i navbar knappene */
    padding: 14px 16px;/* avstanden mellom teksten og kantene */
    text-decoration: none;
}

.navigation li a:hover {
    background-color: purple; /*Fargen som kommer når man flytter musen over knappene i navbar*/
}

.active {
    background-color: antiquewhite;
}

.avsnitt{
    width: 800px;
    /*hvor stor del av skjermen div elementene med class = "avsnitt" skal ta*/
}

img{
    /*høyde og lengde til alle bildene*/
    width: 40%;
    height: 50%;
}