<<<<<<< HEAD
body{
<<<<<<< HEAD
    background-color:cornflowerblue;
=======
    background-color: rgb(225, 222, 225);
<<<<<<< HEAD
}
main{
>>>>>>> 00c6d097fef4bd9ff065cfe4f7bb0e762f29eb72
=======
>>>>>>> 1279a7eb0dd80d26769577cb6653c5e91b2dc1ed
=======
body {
    background-color: cadetblue;
>>>>>>> fc38a87 (GFH)
    margin-left: 50px;
    margin-right: 50px;
}


.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #33658A;
=======
    background-color: pink;
>>>>>>> ced3413 (Byttet style)
=======
    background-color: rgb(34, 36, 36);
>>>>>>> 9ed66e7 (Test)
}

.navigation li {
    display: inline;
    float: left;
    border-right: 1px solid rgb(45, 44, 41);
}

li:last-child {
    border-right: none;
}

.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #234660;
}

.active {
    background-color: antiquewhite;
}