body{
    background-color: cadetblue;
    margin-left: 50px;
    margin-right: 50px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
}

.navigation li {
    display: inline;
    float: left;
    border-right: 1px solid wheat;
}

li:last-child {
    border-right: none;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: blanchedalmond;
}

.active {
    background-color: antiquewhite;
}
