body{
    background-color: cadetblue;
    margin-left: 50px;
    margin-right: 50px;
}

<<<<<<< HEAD
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
}

.navigation li {
    display: inline;
    float: left;
}

.navigation a {
    display: block;
    padding: 8px;
    background-color: pink;
}

.navigation li a:hover {
    background-color: blanchedalmond;
}
=======
>>>>>>> refs/remotes/origin/main
