
body{
    background-color:cornflowerblue;
    background-color: rgb(225, 222, 225);
}

body {
    background-color: cadetblue;
    margin-left: 50px;
    margin-right: 50px;
}


.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33658A;
    background-color: pink;
    background-color: rgb(34, 36, 36);
}

.navigation li {
    display: inline;
    float: left;
    border-right: 1px solid rgb(45, 44, 41);
}

li:last-child {
    border-right: none;
}

.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #234660;
}

.active {
    background-color: antiquewhite;
}