
body{
<<<<<<< HEAD
    background-color: lightpink;
}
main{
<<<<<<< HEAD
=======
>>>>>>> 00c6d097fef4bd9ff065cfe4f7bb0e762f29eb72
=======
>>>>>>> 1279a7eb0dd80d26769577cb6653c5e91b2dc1ed
=======
body {
    background-color: cadetblue;
>>>>>>> fc38a87 (GFH)
>>>>>>> de0d5740ae496c57a804453be16f6d2f629659de
=======
    background-color:cornflowerblue;
    background-color: rgb(225, 222, 225);
}
main{
body {
    background-color: cadetblue;
>>>>>>> d54b66b5a7c046ebeff5f530a3592ada9ecaf5c7
    margin-left: 50px;
    margin-right: 50px;
}
navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33658A;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
=======
>>>>>>> d54b66b5a7c046ebeff5f530a3592ada9ecaf5c7
    background-color: pink;
    background-color: rgb(34, 36, 36);
<<<<<<< HEAD
>>>>>>> 9ed66e7 (Test)
>>>>>>> de0d5740ae496c57a804453be16f6d2f629659de
=======
>>>>>>> d54b66b5a7c046ebeff5f530a3592ada9ecaf5c7
}

.navigation li {
    display: inline;
    float: left;
    border-right: 1px solid rgb(45, 44, 41);
}

li:last-child {
    border-right: none;
}

.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #234660;
}

.active {
    background-color: antiquewhite;
}